    <%- include('../partials/head', { stylesheets: ["action.css"], title: "Confirm Account" }) %>
    <%- include('../partials/header', { baseURL: "" }) %>
      <div class="action">
        <main class="action__content">
          <div class="action__container">
            <h2 class="action__header">Welcome to Word Reminder</h2>
            <p class="action__description">
              Welcome to Word Reminder and thank you for creating an account! Now you can extend your vocabulary while discovering new words you come across in your readings.
            </p>
            <p class="action__description">
              Confirm this email address for your Word Reminder account by clicking the
              link below.
            </p>
            <form
              class="action__form"
              action="/api/users/verify/<%= userId %>&<%= token %>"
              method="POST"
            >
              <div class="action__control">
                <input
                  class="action__input"
                  type="hidden"
                  name="confirmed"
                  id="confirmed"
                  defaultValue="true"
                  required
                />
              </div>
              <button class="action__button" type="submit">Confirm Account</button>
            </form>
          </div>
          <%- include('../partials/support') %>
        </main>
      </div>
      <%- include('../partials/footer', { baseURL: "" }) %>
  </body>
</html>
